@model TRAQ_Assessment_MVC.Models.Account.CreateAccountViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
                <input asp-for="Person_Code" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="Account_Number" class="control-label"></label>
                <input asp-for="Account_Number" class="form-control" />
                <span asp-validation-for="Account_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outstanding_Balance" class="control-label"></label>
                <input asp-for="Outstanding_Balance" class="form-control" />
                <span asp-validation-for="Outstanding_Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
