<h4>About Techniques</h4>

<ol>

    <li>
        Using a DLL to share Models between projects , converted to nuget package for extra portability and versioning
    </li>

    <li>
        Use of Generics for Client , allowing for any entity type CRUD from an API , just parse in Base URL , and Type to Deserialise into
    </li>

    <li>
        Respository Pattern used to allow Abstraction of Bussiness logic from consumers of the entities , and restricting access to other tables
    </li>

    <li>
        Seperation of concerns , seperating Bussiness logic , data access and presentation , using architecture of (Controller - Service - Client) - (Controller - Repository - DB) 
    </li>

    <li>
        Using concepts such as LINQ, Asyncronus Programming, Composition, InHeritance, Encapsulation
    </li>

    <li>
        Using Struts and Records where relavent
    </li>
</ol>