<h4>Contact Me </h4>

<ul>
    <li>
        Email - <a href="mailto:kovlyn.reddy@gmail.com">Email Me</a>
    </li>

    <li>
        Cell - (+27) 67 801 7809
    </li>

    <li>
        LinkedIn - <a href="https://www.linkedin.com/in/kovlyn-reddy-ba4a741a8/">Add Me</a>
    </li>

    <li>
        GitHub - <a href="https://github.com/KovlynReddy">My Profile</a>
    </li>
</ul>