@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <h4>
      TRAQ Dev Assessment
    </h4>
    <h5> Contents </h5>
        <ol style ="text-align:center; list-style-position:inside; padding-left:0;">
            <li>Home Page</li>
            <li>Login \ Persons Page</li>
            <li>About Page</li>
            <li>Contact Page</li>
        </ol>

        <h5> Functionality</h5>
        <ol style ="text-align:center; list-style-position:inside; padding-left:0;">
            <li> Login </li>
            <li> Register </li>
            <li> Persons CRUD </li>
            <li> Transactions CRUD</li>
        </ol>

    <h5> Disclaimer </h5>
    <ol style="text-align:center; list-style-position:inside; padding-left:0;">
        <li> Passwords are stored as plain text and is not hashed </li>
    </ol>

</div>

<style>
text-align:center; list-style-position:inside; padding-left:0;
</style>