@model TRAQ_Assessment_MVC.Models.Person.ViewPersonViewModel

<div class="align-content-center">

<div class="card align-content-center" style="width: 18rem;">
    <img class="card-img-top" src="~/DefaultProfilePicture.jpeg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name, @Model.Surname</h5>
        <p class="card-text">@Model.ID_Number.</p>
    </div>
</div> 

</div>